
#main{
	
	position:fixed;
	background-color: blue;
	
	left:0px;
	
	bottom:0px;
    
	z-index:100;
	}

#main_menu {
	position:absolute;
	width: 0px;
	height: 0px;
	border-bottom: 70px solid #000066;
	border-right: 70px solid transparent;
	bottom:0px;
	left:0px;
	z-index: :10;
}
#slant{
	position:absolute;
	height:5px;
	width:80px;
	background-color:#990072;
	transform:rotate(45deg);
	transform-origin:0% 100%;
	bottom:65px;
	left:10px;
	z-index:1;
	}
#menuicon
{
	height:30px;
	position:absolute;
	width:30px;
	
	left:5px;
	bottom:5px;
	z-index:2;
}
.nav{
	color:black;
}
#contact{
	height:30px;
	position:absolute;
	width:30px;
	
	left:-75px;
	bottom:95px;
	z-index:2;
	}
.ph{
	color:black;
	transform: rotate(45deg);
	
}
#home{
	position:absolute;
	height:30px;
	width:30px;
	
	bottom:155px;
	left:-95px;
	z-index:2;
}
.hm{
	color:black;
}
#projects{
	position:absolute;
	height:30px;
	width:30px;
	bottom:270px;
	left:-70px;
	z-index:3;
}
.pr{
	color:black;
}
#resume{
	position:absolute;
	height:30px;
	width:30px;
	bottom:330px;
	left:-75px;
	z-index:3;
}
.res{
	color:black;
}
#skills{
	position:absolute;
	height:30px;
	width:30px;
	bottom:215px;
	left:-75px;
	z-index:3;
}
.sk{
	color:black;
}

#slant_icon{
	position:absolute;
	
	height:4.0625em;
	width:0.3125em;
	background-color: #ff9900;
	transform:rotate(45deg);
	transform-origin:0% 100%;
	z-index:5;
}		
.resu{
	
	left:-50px;
	bottom:300px;
}	
.proj{
	left:-50px;
	bottom:245px;
}
.ski{
	left:-50px;
	bottom:190px;
}
.hom{
	left:-50px;
	bottom:130px;
}
.cont{
	left:-50px;
	bottom:65px;
}	

#slidebar{
	position:absolute;
	height:46px;
	width:46px;
	left:70px;
	background-color:#ff9900;
	bottom:60px;
	opacity:0;

}	

#righttri{
	
	position:absolute;
	width: 0;
	height: 0;
	left:116px;
	bottom:60px;
	border-top: 46px solid #ff9900;
	border-right: 46px solid transparent;
	opacity:0;

}	
#facebook{
	position: absolute;
	height:30px;
	width:30px;
	bottom:-50px;
	left:170px;
}
.fb{
	color:black;
}
#github{
	position: absolute;
	height:30px;
	width:30px;
	bottom:-50px;
	left:210px;
}
.git{
	color:black;
}
#mail{
	position: absolute;
	height:30px;
	width:30px;
	bottom:-50px;
	left:250px;
}
.gmail{
	color:black;
}
#linkin{
	position: absolute;
	height:30px;
	width:30px;
	bottom:-50px;
	left:290px;
}
.in{
	color:black;
}
#message{
	position: absolute;
	height:30px;
	width:30px;
	bottom:-50px;
	left:330px;
}
.mess{
	color:black;
}
#google{
	position: absolute;
	height:30px;
	width:30px;
	bottom:-50px;
	left:370px;
}
.plus{
	color: black;
}

#display_title{
	position: absolute;
	height:30px;
	width:150px;
	background-color:#0099cc;
	transform:rotate(-45deg);
	transform-origin:0% 100%;
	font-family: 'Bangers', cursive;
	padding-left: 5px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	font-size: 1.5em;
	text-align: center;
	opacity:0;
}


#textdisp{
	
	
	font-size:1em;
	font-family: 'Bangers', cursive;
	
}

.top{
	position:relative;
	background-color:red;
	

}
.head1{
	
	font-size: 80px;
	padding-top: 0px;
	padding-left:0px;
	font-family: 'Bangers', cursive;
}
.head2{
	
	font-size:60px;
	padding-left:0px;
	font-family: 'Bangers', cursive;
	
	}

.head3{
	
	font-size: 60px;
	padding-left:0px;
	font-family: 'Bangers', cursive;
}
.color{

	background-color:red;
}
#wp{
	position: fixed;
	height:100vh;
	width:100vw;

}
.wp1{
	position: absolute;
	height:100vh;
	width:100vw;
	

}
.wall{
	position: absolute;
	
}

  	